	<!-- SIDEBAR -->
	<div id="sidebar">
		<ul>
 
				
				<li>
					<h2>Useful Links</h2>
					<br>
					<ul>   
						<li> <p>
							<a href="http://jashkenas.github.com/coffee-script/" target="blank">
								Coffee-script
							</a></p>
						</li>						
						<li> <p>
							<a href="https://github.com/jashkenas/coffee-script/wiki/In-The-Wild" target="blank">
								CoffeeScript In The Wild
							</a> </p>
						</li>						
						<li> <p>
							<a href="http://howtonode.org/" target="blank">
							 Howtonode 
							</a></p>
						</li> 
						<li> <p>
							<a href="http://autotelicum.github.com/Smooth-CoffeeScript/" target="blank">Smooth CoffeeScript 
							</a> </p>		
						</li>										
						<li> <p>
							<a href="http://nodetuts.com" target="blank">
								Nodetuts
							</a>  </p>
						</li>
					</ul>
				</li>
     	 
		</ul>           
 
	</div>
	<!-- /SIDEBAR -->
<div class="clear"></div>